/* Footer */

.time_list {
    list-style: none;
    text-align: center;
    width: 300px;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_list-item {
    margin-top: 10px;
    /* Добавляем отступ между пунктами меню */
}

.footer {
    padding-bottom: 20px;
    vertical-align: bottom;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

/* Определяем блочную модель */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Убираем стандартное подчёркивание у ссылок */
a {
    text-decoration: none;
}

/* Устанавливаем минимальный размер экрана и добавляем фоновое изображение */
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    /* Используем шрифт Montserrat */
}

/* Стилизуем контейнер */
.container {
    max-width: 1190px;
    padding: 0 15px;
    /* Увеличиваем боковые отступы */
    margin: 0 auto;
    /* Центрируем контейнер по горизонтали */
}

/* Стилизуем шапку сайта */
.header {
    padding-top: 30px;
    /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
    position: relative;
    height: auto;
}

/* Стилизуем внутренний контейнер шапки */
.header__inner {
    display: flex;
    /* Выстраиваем элементы внутри контейнера в строку */
    justify-content: space-between;
    /* Распределяем элементы по ширине контейнера */
    align-items: center;
    /* Выравниваем элементы по вертикали */
}

/* Стилизуем логотип */
.logo {
    text-transform: uppercase;
    /* Преобразуем текст в верхний регистр */
    font-size: 28px;
    /* Устанавливаем размер шрифта */
    font-weight: 900;
    /* Устанавливаем жирное начертание шрифта */
    color: #443B33;
    /* Устанавливаем цвет логотипа */
}

/* Стилизуем списки меню */
.menu__list {
    display: flex;
    /* Отображаем элементы списка в строку */
    list-style: none;
    /* Убираем стандартные маркеры (чёрные точки) */
}

/* Стилизуем пункты меню */
.menu__list-item {
    margin-right: 20px;
    /* Добавляем отступ между пунктами меню */
}

/* Стилизуем ссылки в меню */
.menu__list-link {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

.menu__list-nolink {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
}

.menu__list-link-selected {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #7EA574;
    /* Устанавливаем цвет ссылок */
    border-bottom: 1px solid #7EA574;
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

/* Добавляем стилизацию ссылок в меню при наведении курсора */
.menu__list-link:hover {
    color: #7EA574;
    /* Задаём изменение цвета ссылок при наведении курсора */
    /* border-bottom: 1px solid #7EA574; */
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #443B33;
    font-weight: 900;
    margin-bottom: 20px;
}

main {
    margin-top: 50px;
    /* Оставляем пространство над основным контентом равное высоте шапки + отступ */
}

.tools-place {
    /* max-width: 1400px; */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.tools-place-inner {
    display: block;
    justify-content: space-around;
    align-items: center;
}

.about-us-inner-text h2 {
    text-align: center;
}

.about-us-inner-text {
    width: 45%;
}

.about-us-inner-text p {
    font-size: 20px;
}

.tool-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tool-section img {
    height: 380px;
    border-radius: 16px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 16px 25px 3px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 22px;
    font-weight: 600;
    text-align: justify;
    color: #443B33;
    text-indent: 2rem;
}

.img-tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sovet {
    height: 200px;
    width: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #EEDCCB;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.sovet h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #443B33;
}

.contact_list {
    display: block;
    list-style: none;
    text-align: center;
}

/* Mobile styles */
@media (max-width: 768px) {

    /* Логотип */
    .logo {
        font-size: 24px;
    }

    .header__inner {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .menu__list-item {
        margin: 10px;
    }

    .menu__list {
        flex-wrap: wrap;
    }

    /* Меню скрыто, кнопка меню появляется */
    .menu__list-link {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* Контакты */
    .footer-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .time_list {
        flex-direction: column;
        padding: 0;
    }

    .hello_about-inner-text {
        display: block;
        text-align: center;
        max-width: 100%;
        padding: 1.5rem;
    }

    .tool-section {
        margin: 20px;
    }

    .tool-section img {
        height: 380px;
        width: 100%;
        border-radius: 16px;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0 16px 25px 3px rgba(0, 0, 0, 0.15);
    }

    .about-us-inner-text {
        text-align: justify;
        width: 100%;

    }

    .sovet {
        margin: 15px;
        width: 100%;
        height: 270px;
    }

    .contact_list {
        padding: 0;
    }
}

/* Smaller screens */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

}