/* Footer */

.time_list {
    list-style: none;
    text-align: center;
    width: 300px;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_list-item {
    margin-top: 10px;
    /* Добавляем отступ между пунктами меню */
}

.footer {
    padding-bottom: 20px;
    vertical-align: bottom;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

/* Определяем блочную модель */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Убираем стандартное подчёркивание у ссылок */
a {
    text-decoration: none;
}

/* Устанавливаем минимальный размер экрана и добавляем фоновое изображение */
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    /* Используем шрифт Montserrat */
}

/* Стилизуем контейнер */
.container {
    max-width: 1190px;
    padding: 0 15px;
    /* Увеличиваем боковые отступы */
    margin: 0 auto;
    /* Центрируем контейнер по горизонтали */
}

/* Стилизуем шапку сайта */
.header {
    padding-top: 30px;
    /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
    position: relative;
    height: auto;
}

/* Стилизуем внутренний контейнер шапки */
.header__inner {
    display: flex;
    /* Выстраиваем элементы внутри контейнера в строку */
    justify-content: space-between;
    /* Распределяем элементы по ширине контейнера */
    align-items: center;
    /* Выравниваем элементы по вертикали */
}

/* Стилизуем логотип */
.logo {
    text-transform: uppercase;
    /* Преобразуем текст в верхний регистр */
    font-size: 28px;
    /* Устанавливаем размер шрифта */
    font-weight: 900;
    /* Устанавливаем жирное начертание шрифта */
    color: #443B33;
    /* Устанавливаем цвет логотипа */
}

/* Стилизуем списки меню */
.menu__list {
    display: flex;
    /* Отображаем элементы списка в строку */
    list-style: none;
    /* Убираем стандартные маркеры (чёрные точки) */
}

/* Стилизуем пункты меню */
.menu__list-item {
    margin-right: 20px;
    /* Добавляем отступ между пунктами меню */
}

/* Стилизуем ссылки в меню */
.menu__list-link {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

.menu__list-nolink {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
}

.menu__list-link-selected {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #7EA574;
    /* Устанавливаем цвет ссылок */
    border-bottom: 1px solid #7EA574;
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

/* Добавляем стилизацию ссылок в меню при наведении курсора */
.menu__list-link:hover {
    color: #7EA574;
    /* Задаём изменение цвета ссылок при наведении курсора */
    /* border-bottom: 1px solid #7EA574; */
}

main {
    margin-top: 50px;
    /* Оставляем пространство над основным контентом равное высоте шапки + отступ */
}

h2 {
    text-transform: uppercase;
    font-size: 38px;
    color: #443B33;
    font-weight: 700;
    margin-bottom: 40px;
}

hr {
    border-color: #443B33;
}


.product-list {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 16px 25px 3px rgba(0, 0, 0, 0.15);
}

.pr-l-inner {
    display: block;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pr-text {
    margin-left: 20px;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #443B33;
    font-weight: 600;
    margin: 10px;
}

.product img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 0 7px #666;
}

.total-pr {
    margin-top: 30px;
}

.no-line {
    display: flex;
    justify-content: left;
    padding: 5px;
}

.contact-form button {
    background-color: #a36754;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0.5rem 0 1rem 10px;
    margin-top: 10px;

}

.contact-form {
    margin-top: 20px;

}

.contact-form input {
    height: 2.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 20%;
    border: none;
    box-shadow: none;
    border-radius: 0.3rem;
    margin: 0.3rem 0 1rem 0;
    background-color: #f6f6f6;
}

.form-field {
    display: flex;
}

.f-l-label {
    width: 14%;
}

select {
    width: 20%;
    border: none;
    box-shadow: none;
    border-radius: 0.3rem;
    margin: 0.3rem 0 1rem 0;
    background-color: #f6f6f6;
}

/* Mobile styles */
@media (max-width: 768px) {

    /* Логотип */
    .logo {
        font-size: 24px;
    }

    .menu__list-item {
        margin: 10px;
    }

    .menu__list {
        flex-wrap: wrap;
    }

    /* Меню скрыто, кнопка меню появляется */
    .menu__list-link {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* Контакты */
    .footer-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .time_list {
        flex-direction: column;
        padding: 0;
    }

    .hello_about-inner-text {
        display: block;
        text-align: center;
        max-width: 100%;
        padding: 1.5rem;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .product .menu__list-link {
        text-align: center;
        margin-top: 20px;
    }

    .product-list {
        max-width: 100%;
        margin: 15px;
    }

    .no-line {
        justify-content: center;
    }

    h3 {
        font-size: 16px;
    }


    .contact-form button {
        padding: 12px 24px;
        margin: 10px;
        margin-top: 10px;
    }

    .contact-form {
        margin-top: 20px;
        text-align: center;
    }

    .contact-form input {
        height: 2.5rem;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0.3rem;
        margin: 0.3rem 0 1rem 0;
        background-color: #f6f6f6;
    }

    .form-field {
        display: flex;
        align-items: center;
    }

    .f-l-label {
        width: 170px;
    }

    .f-l-label h3 {
        text-align: center;
    }

    select {
        width: 100%;
        height: 40px;
        border: none;
        box-shadow: none;
        border-radius: 0.3rem;
        margin: 0.3rem 0 1rem 0;
        background-color: #f6f6f6;
    }

    /* Additional*/
    .menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.3s ease;
        position: absolute;
        top: 80px;
        right: 15px;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 200px;
        padding: 10px 0;
        z-index: 1000;
    }

    .menu.active {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .menu__list-item {
        width: 100%;
        margin: 0;
    }

    .menu__list-link {
        display: block;
        width: 100%;
        padding: 12px 20px;
    }

    .hamburger {
        display: block;
    }
}

/* Smaller screens */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }


}