/* Footer */

.time_list {
    list-style: none;
    text-align: center;
    width: 300px;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_list-item {
    margin-top: 10px;
    /* Добавляем отступ между пунктами меню */
}

.footer {
    padding-bottom: 20px;
    vertical-align: bottom;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

/* Определяем блочную модель */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Убираем стандартное подчёркивание у ссылок */
a {
    text-decoration: none;
}

/* Устанавливаем минимальный размер экрана и добавляем фоновое изображение */
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    /* Используем шрифт Montserrat */
}

/* Стилизуем контейнер */
.container {
    max-width: 1190px;
    padding: 0 15px;
    /* Увеличиваем боковые отступы */
    margin: 0 auto;
    /* Центрируем контейнер по горизонтали */
}

/* Стилизуем шапку сайта */
.header {
    padding-top: 30px;
    /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
    position: relative;
    height: 80px;
}

/* Стилизуем внутренний контейнер шапки */
.header__inner {
    display: flex;
    /* Выстраиваем элементы внутри контейнера в строку */
    justify-content: space-between;
    /* Распределяем элементы по ширине контейнера */
    align-items: center;
    /* Выравниваем элементы по вертикали */
}

/* Стилизуем логотип */
.logo {
    text-transform: uppercase;
    /* Преобразуем текст в верхний регистр */
    font-size: 28px;
    /* Устанавливаем размер шрифта */
    font-weight: 900;
    /* Устанавливаем жирное начертание шрифта */
    color: #443B33;
    /* Устанавливаем цвет логотипа */
}

/* Стилизуем списки меню */
.menu__list {
    display: flex;
    /* Отображаем элементы списка в строку */
    list-style: none;
    /* Убираем стандартные маркеры (чёрные точки) */
}

/* Стилизуем пункты меню */
.menu__list-item {
    margin-right: 20px;
    /* Добавляем отступ между пунктами меню */
}

/* Стилизуем ссылки в меню */
.menu__list-link {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

.menu__list-nolink {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #443B33;
    /* Устанавливаем цвет ссылок */
}

.menu__list-link-selected {
    padding: 10px 20px;
    /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 20px;
    /* Уменьшаем размер шрифта */
    color: #7EA574;
    /* Устанавливаем цвет ссылок */
    border-bottom: 1px solid #7EA574;
    cursor: pointer;
    /* Задаём изменение вида курсора при наведении на пункты меню */
    transition: all 0.3s;
    /* Добавляем плавное изменение стилей при наведении */
}

/* Добавляем стилизацию ссылок в меню при наведении курсора */
.menu__list-link:hover {
    color: #7EA574;
    /* Задаём изменение цвета ссылок при наведении курсора */
    /* border-bottom: 1px solid #7EA574; */
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
    color: #443B33;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    font-size: 24px;
    color: #443B33;
    font-weight: 700;
}

main {
    margin-top: 50px;
    /* Оставляем пространство над основным контентом равное высоте шапки + отступ */
}

.tools-place {
    /* max-width: 1400px; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tools-place-inner {
    display: block;
    justify-content: space-around;
    align-items: center;
}

.tool-section h2 {
    text-align: center;
}

.img-tools {
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
}

.tool-section p {
    text-align: center;
    font-size: 22px;
}

.tool {
    height: 700px;
    width: 400px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 30px;
    margin-top: 30px;
}

.img-tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-tools img {
    height: 500px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 16px 25px 3px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 20px;
    text-align: center;
}

.sovet {
    height: 300px;
    width: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    background-color: #EEDCCB;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.sovet h3 {
    height: 50px;
}