/* Определяем блочную модель */
html {
 box-sizing: border-box;
}

*,
*::after,
*::before {
 box-sizing: inherit;
}

/* Убираем стандартное подчёркивание у ссылок */
a {
 text-decoration: none;
}

/* Устанавливаем минимальный размер экрана и добавляем фоновое изображение */
body {
 min-height: 100vh;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 font-family: "Montserrat", sans-serif; /* Используем шрифт Montserrat */
}

/* Стилизуем контейнер */
.container {
 max-width: 1190px;
 padding: 0 15px; /* Увеличиваем боковые отступы */
 margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

/* Стилизуем шапку сайта */
.header {
 padding-top: 30px; /* Увеличиваем верхний отступ шапки, чтобы логотип и меню не прилипали к экрану */
 position: relative;
 height: 80px;
}

/* Стилизуем внутренний контейнер шапки */
.header__inner {
 display: flex; /* Выстраиваем элементы внутри контейнера в строку */
 justify-content: space-between; /* Распределяем элементы по ширине контейнера */
 align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стилизуем логотип */
.logo {
 text-transform: uppercase; /* Преобразуем текст в верхний регистр */
 font-size: 28px; /* Устанавливаем размер шрифта */
 font-weight: 900; /* Устанавливаем жирное начертание шрифта */
 color: #443B33; /* Устанавливаем цвет логотипа */
}

/* Стилизуем списки меню */
.menu__list {
 display: flex; /* Отображаем элементы списка в строку */
 list-style: none; /* Убираем стандартные маркеры (чёрные точки) */
}

/* Стилизуем пункты меню */
.menu__list-item {
 margin-right: 20px; /* Добавляем отступ между пунктами меню */
}

/* Стилизуем ссылки в меню */
.menu__list-link {
 padding: 10px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
 font-size: 20px; /* Уменьшаем размер шрифта */
 color: #443B33; /* Устанавливаем цвет ссылок */
 cursor: pointer; /* Задаём изменение вида курсора при наведении на пункты меню */
 transition: all 0.3s; /* Добавляем плавное изменение стилей при наведении */
}

.menu__list-nolink {
 padding: 10px 20px; /* Увеличиваем вертикальный и горизонтальный отступы */
 font-size: 20px; /* Уменьшаем размер шрифта */
 color: #443B33; /* Устанавливаем цвет ссылок */
}

/* Добавляем стилизацию ссылок в меню при наведении курсора */
.menu__list-link:hover {
    color: #7EA574; /* Задаём изменение цвета ссылок при наведении курсора */
    /* border-bottom: 1px solid #7EA574; */ 
}

/* Hello */

.hello_about {
    height: 550px;
    max-width: 1400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.hello_about-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hello_about-inner-text {
    display: block;
    max-width: 550px;
}

.hello_about-inner img {
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

h2 {
    text-transform: uppercase; 
    font-size: 28px;
    color: #443B33;
    font-weight: 700;
    margin-bottom: 20px;
}

.hello_about-inner-text p {
    font-size: 16px;
    color: #443B33; 
    line-height: 1.6;
    margin-bottom: 30px;
}

.hello_about-inner-text ul {
    padding-left: 50px;
}

.cta-button {
            background-color: #a36754;
            color: white;
            padding: 12px 24px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s ease;
}

.cta-button:hover {
    background-color: #8b5547;
}

/* Hello */

/* About Us */

.why_we {
    height: 300px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.why_we-inner {
    display: block;
    justify-content: space-around;
    align-items: center;
}

.why_we-inner h2 {
    /* margin-left: 60px; */
    text-align: center;
}

.about_list {
    list-style: none;
    display: flex;
    text-align: center;
}

.about_list-item {
    margin-right: 20px; /* Добавляем отступ между пунктами меню */
    /* border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); */
    font-weight: 500;
    width: 400px;
}

.about_list-item img {
    max-width: 100px;
    border-radius: 16px;
}

/* About Us */

/* Carousel */
.gallery {
    position: relative;
    height: 650px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gallery h2 {
    text-align: center;
}

.slide {
    scroll-snap-align: start;
}

.carousel {
    margin-top: 50px;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x proximity;
    border-radius: 16px;
    align-items: center;
}

.carousel::-webkit-scrollbar {
  width: 10px;
}

.carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 5px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #f2bf93;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
    border-radius: 5px;
}

.carousel img {
    height: 500px;
    width: 400px;
    margin: 0 16px 6px 16px;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


/* Carousel */

/* Feedback */

.feedback {
    height: auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-inner h2 {
    text-align: center;
}

.feedback-inner p {
    font-size: 20px;
    text-align: center;
}

/* Feedback */

/* Footer */

.time_list {
    list-style: none;
    text-align: center;
    width: 300px;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_list-item {
 margin-top: 10px; /* Добавляем отступ между пунктами меню */
}

.footer {
    padding-bottom: 20px;
    vertical-align: bottom;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */